@tailwind base;
@tailwind components;
@tailwind utilities;

.editor-table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
  border: 1px solid black; /* Add border to the table */
}

.editor-table-cell {
  border: 1px solid black; /* Add border to cells */
  padding: 8px;
  text-align: left;
}

.editor-table-row:first-child {
  background-color: #f2f2f2; /* Light gray background for the first row */
}

.editor-table-row:not(:first-child) {
  background-color: transparent; /* No background for other rows */
}

/*list related styles*/

.editor-list-ul {
  list-style-type: disc;
  margin-left: 20px;
}

.editor-list-ol {
  list-style-type: decimal;
  margin-left: 20px;
}

.editor-list-item {
  margin: 4px 0;
}

/*table operations*/
.table-controls {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.table-row-controls,
.table-column-controls {
  position: absolute;
  display: none;
  pointer-events: all;
}

.table-row-controls:hover,
.table-column-controls:hover {
  display: block;
}

.table-control-button {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  cursor: pointer;
}